<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/homepage.css">
    <meta charset="UTF-8">
    <title>SQL Generator</title>
  </head>
  <body>
    <h2>SQL Multitool</h2>
    <div class="snippets">
      <a href="/snippets">
        <button class="button" type="button">Snippets</button>
      </a>
    </div>
    <div class="temp1">
      <a href="/temp">
        <button class="button" type="button">Temp</button>
      </a>
    </div>
    <div class="temp2">
      <a href="/temp">
        <button class="button" type="button">Temp</button>
      </a>
    </div>
    <div class="temp3">
      <a href="/temp">
        <button class="button" type="button">Temp</button>
      </a>
    </div>
  </body>
</html>