<html>
  <head>
      <link rel="stylesheet" type="text/css" href="static/search.css">
      <script src="static/search.js"></script>
      <title>Code Snippet Gallery</title>
  </head>
  <body>
      <h1>Code Snippet Finder</h1>

      <form method="post" action="{{ url_for('search') }}">
        <div id="myDropdown" class="dropdown-content">
          <input type="text" name="search_query" placeholder="Search for code snippets" id="myInput" onkeyup="filterFunction()">
          <ul>
            {% for row in rows %}
                <li>
                    <a href="#" onclick="alert('Description: {{ row[0] }}')">
                        {{ row[0] }}
                    </a>
                </li>
            {% endfor %}
          </ul>
        </div>
          
        <input type="submit" value="Search">
      </form>
  </body>
</html>