body {
    font-family: "JetBrains Mono";
    color: #d8dee9;
    background-color: #2e3440;
  }
  
  h1 {
    color: #81a1c1;
  }
  
  h2 {
    color: #b48ead;
  }
  
  pre {
    background-color: #4c566a;
    color: #d8dee9;
    padding: 10px;
    font-size: 14px;
  }