body {
    font-family: "JetBrains Mono", "Ubuntu Mono", Monospace;
    color: #d8dee9;
    background-color: #2e3440;
  }
  
h1 {
    color: #81a1c1;
    font-family: "JetBrains Mono", "Ubuntu Mono", Monospace;
    font-family: monospace;
  }
  
h2 {
    color: #b48ead;
    font-family: "JetBrains Mono", "Ubuntu Mono", Monospace;
  }
  
pre {
    background-color: #4c566a;
    color: #d8dee9;
    padding: 10px;
    font-size: 14px;
    font-family: "JetBrains Mono", "Ubuntu Mono", Monospace;
  }

.top {
    justify-items: center;
    align-items: center;
    display: flex;
    width: 100%; 
}